body{
    margin: 20px;
    padding: 25px;
}

.logo{
    background-color: rgb(177, 226, 43);
    font-family: monospace;
    font-size: 30px;
    text-align: center;
}
footer p{
    background-color: gray;
    text-align: center;
    font-family:cursive;
}
div#to-do{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#to-do > .task{
    border: solid;
    margin:auto;
    flex: 20%;
    padding: 10px;
    background-color:whitesmoke;
    color: burlywood;
    height: 250px;
}
.task > h2{
    text-align: center;
    background-color: rgb(162, 162, 223);
}

span.imp{
    border: solid red;
    background-color: red;
    color: white;
}
span.medio{
    border: solid yellow;
    background-color: yellow;
    color: white;
}
span.irrelev{
    border: solid green;
    background-color: green;
    color: white;
}
#error{
    font-family: monospace;
    color: red;
    background: rgba(255, 0, 0, 0.2);
}
.categ{
    font-size: 16px;
    color: white;
    background-color: black;
    padding-left: 5px;
}